* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #Recomendacion-Container {
    width: 30vw;
} */

.precio__background {
    padding: 2px;
    font-size: 2vw;
}

.carrito__background{
    height: fit-content;
}

.iconos {
    font-size: 2vw;
}

.barra__navegacion {
    font-size: 3vw;
}

.txt__h4{
    font-size: 10px;
}

.carrito__background{
    text-align: center;
    
}

.txt__p {
    text-wrap: wrap;
    font-size: 12px;
}

#botonDesc, #botonEspec {
    padding: 3vw;
}

.txt__titulo {
    font-size: 12px;
}

.card__txt {
    padding: 2vw;
}