:root {
    --C_color1: #fffff5;
    --C_color2: #d3d3d3;
    --P_color1: #f0ca6c;
    --P_color2: #6c8ff0;
    --F_color1: #313131;
    --F_color2: #5b5b54;
    --P_font: "Avenir", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#screen-lock {
    display: none;
}

body {
    background-color: var(--C_color1);
}

/* Estilos Encabezado */

header {
    box-sizing: border-box;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "encabezado"
}

.header__item {
    display: flex;
}

.item__encabezado {
    display: grid;
    column-gap: 20px;
    grid-area: encabezado;
    grid-template-areas:
        "Texto-Header Texto-Header Icon-Header"
}

.encabezado__img {
    width: 80%;
    border-radius: 100%;
}

.encabezado--izquierda {
    padding-top: 5vw ;
    padding-left: 5vw;
    grid-area: Texto-Header;
}

.encabezado__h2 {
    color: var(--F_color2);
    font-family: var(--P_font);
}

.encabezado__h1 {
    color: var(--F_color1);
    font-family: var(--P_font);
}

.h1--encabezado {
    font-size: 7vw;
    font-weight: 800;
}

.h2--encabezado {
    padding-top: 2vw;
    font-size: 4vw;
}

.encabezado--derecha {
    padding-top: 4vw;
    grid-area: Icon-Header;
}

.item_buscador {
    justify-content: center;
    grid-area: buscador;
}

.buscador__cuadro {
    padding-top: 4vw;
    height: 6vh;
    width: 90%;
    display: flex;
}

.cuadro__input {
    font-family: var(--P_font);
    color: var(--F_color2);
    width: 100%;
}

main {
    box-sizing: content-box;
    padding-bottom: 18vw;
    padding-top: 4vw;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    height: fit-content;
    margin-bottom: 100vw;
}

@media (min-width:375px) {
    main {
        margin-bottom: 125vw;
    }
}

@media (min-width:425px) {
    main {
        margin-bottom: 150vw;
    }
}

@media (min-width:475px) {
    main {
        margin-bottom: 180vw;
    }
}

@media (min-width:600px) {
    main {
        margin-bottom: 200vw;
    }
}

/* Card Estilo */

#Recomendacion-Container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.recomendacion__background {
    margin: auto;
    width: 90%;
    height: 100%;
    border-radius: 25px;
}

.recomendacion__card {
    padding: 10vw;
    display: flex;
    background-color: var(--P_color1);
    margin: auto;
    margin-top: .8vh;
    width: 95%;
    height: fit-content;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    row-gap: 4vw;
}

.card__img {
    width: 80%;
    border-radius: 25px;
}

.card__img-recuadro {
    display: flex;
    justify-content: center;
}

.card__txt {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 2vw;
}

.txt__titulo {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-weight: 800;
    font-size: 4vw;
    width: 100%;
    font-family: var(--P_font);
    color: var(--C_color1);
}

.card__botones{
    font-family: var(--P_font);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3vw;
    column-gap: 2vw;
    align-items: center;
    color: var(--C_color1);
    flex-direction: row;
}

.cantidad {
    font-weight: 800;
}

.precio__background {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--P_color2);
    width: fit-content;
    padding: 2vw;
    border-radius: 5px;
}

.precio__txt {
    font-family: var(--P_font);
    color: var(--C_color1);
    font-size: 4vw;
    font-weight: 800;
}

.carrito__background {
    background-color: var(--P_color2);
    border-radius: 10px;
    padding: 3vw;
}

.carrito__background:hover  {
    background-color: var(--C_color1);
    color: var(--P_color2);
}

.carrito__background:hover .iconos {
    color: var(--P_color2);
    transition-property: background-color, color;
    transition-duration: 1s;
}

.Opciones {
    font-family: var(--P_font);
    color: var(--C_color1);
    font-size:3.5vw;
}

.opciones_prime {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.recomendacion__card--cambios {
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    width: 45%;
    border-radius: 15px 15px 0px 0px;
}

.recomendacion__card--cambios2 {
    border-radius: 0px 0px 15px 15px;
    position: relative;
    bottom: 25px;
}

.card--cambios--azul {
    background-color: var(--P_color2);
}

.card--cambios--azul:hover > .recomendacion__card--cambios2 {
    background-color: var(--P_color1);
}

.iconos {
    color: var(--C_color1);
}

.txt__h4 {
    font-size: 4.5vw;
    font-family: var(--P_font);
    color: var(--C_color1);
}

.txt__p {
    font-size: 5vw;
    color: var(--C_color1);
    text-align: justify;
    font-family: var(--P_font);
    word-spacing: .1em;
}

/* Navegacion */

footer {
    display: flex;
    min-width: 100vw;
}

.barra__navegacion {
    margin-top: 18vw;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 18vw;
    background-color: var(--P_color1);
    border-radius: 15px / 15% 15% 0px 0px;
    display: flex;
    align-items: center;
}
.barra__navegacion__lista {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_icons {
    width: 25vw;
}

.inconos__nav {
    color: var(--C_color1);
}

.item--actual {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 6vw;
    padding-bottom: 7vw;
    position: relative;
    top: 2vw;
    display: flex;
    align-items: center;
    background-color: var(--P_color2);
    border-radius: 30% 30% 0% 0%;
}

.actual--oculto:hover {
    background-color: var(--P_color2);
    transition-property: background-color;
    transition-duration: 1s;
}

.actual--oculto {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

.icono--actual {
    position: relative;
    bottom: 2vw;
}